.box {
  position: relative;
  width: 333px;
  height: 333px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.content {
  position: absolute;
  inset: 30px;
  border-radius: 50%;
  z-index: 3;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px 120px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box:hover::before {
  inset: -20px 0px;
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #1d1e1f;
  border-radius: 50%;
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient-text {
  background: linear-gradient(315deg, #00ccff, #d400d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
